<form id="login_form" action="">
  Username: <input id="username" type="text" name="username"><br>
  Password: <input id="password" type="password" name="password"><br>

  <button id="login">login</button>
  <!--
    <input id="login" type="login">
  -->
</form>


  <button id="channel">play channel</button>

<div id="player_area">
  <h2 class="pink">Let jQuery AJAX Change This Text</h2>
</div>
